.thing {
    a {
        background-color: red;
    }
    a {
        background-color: green;
    }
}
.thing {
    a {
        background-color: red;
    }
    a {
        background-color: green;
    }
}